* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  background-color: lightslategray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.square {
  background-color: #fff;
  border :1px solid #9999;
  float:left;
  font-size: 24px;
  
  font-weight: bold;
  line-height: 30px;
  height: 200px;
  text-align: center;
  width: 200px;
  justify-content: center;
}

.board-row:after {
  display: table;
  content: '';
  clear :both;
}

